{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}


<html lang="en">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-9ralMzdK1QYsk4yBY680hmsb4/hJ98xK3w0TIaJ3ll4POWpWUYaA2bRjGGujGT8w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="{% static 'django_website/images/favicon.png' %}?v=2"/>
    <link rel="stylesheet" href="{% static 'django_website/css/base.css' %}"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript" src="{% static 'django_website/scripts/base.js' %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    {% block scripts %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img class="inacity-brand-logo" border="0" alt="INvestigate and Analyze a CITY" src="{% static 'django_website/images/logo_name.png' %}"></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div id="divNavBar" class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'home' %}">{% trans "Home"%}</a>
            <a class="nav-item nav-link" href="{% url 'tutorial' %}">{% trans "Get started"%}</a>
            <a class="nav-item nav-link" href="{% url 'about' %}">{% trans "About"%}</a>
            <a class="nav-item nav-link" href="/docs/index.html">{% trans "API" noop %}</a>
          </div>
        </div>
        <div class="navbar-nav navbar-right">
                <a href="{% url 'lang' 'fr' %}"><img class="language-flag" border="0" alt="Langue française" src="{% static 'django_website/images/flag_fr.png' %}"></a>
                <a href="{% url 'lang' 'en' %}"><img class="language-flag" border="0" alt="English language" src="{% static 'django_website/images/flag_en-us.png' %}"></a>
                <a href="{% url 'lang' 'pt-br' %}"><img class="language-flag" border="0" alt="Língua portuguesa" src="{% static 'django_website/images/flag_pt-br.png' %}"></a>
                <a href="lang/es-es"><img class="language-flag" border="0" alt="Lengua española" src="{% static 'django_website/images/flag_es.png' %}"></a>
        </div>
        <div class="navbar-nav navbar-right loginPanel">
                {% if user.is_authenticated %}
                  <a href="{% url 'profile' %}">Hi {{ user.username }}!</a> | 
                  <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                  <a href="{% url 'login' %}">Login</a> |
                  <a href="{% url 'register' %}">Sign Up</a>                  
                {% endif %}
        </div>
    </nav>

    <div class="jumbotron row">
        <div class="col-sm inacity-logo-div">
          <h1><img border="0" class="inacity-logo" alt="Logo" src="{% static 'django_website/images/logo.png' %}"> INACITY</h1>
          <p class="lead">INvestigate and Analyze a CITY - INACITY</p>
        </div>
        <div class="col-sm">
            <h4>{% trans "Sponsors &amp; Associated Projects:"%}</h4>
            <div id="carouselSponsors" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselSponsors" data-slide-to="0" class="active"></li>
                <li data-target="#carouselSponsors" data-slide-to="1"></li>
                <li data-target="#carouselSponsors" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block" src="{% static 'django_website/images/mslogo.png' %}" alt="Microsoft">
                </div>
                <div class="carousel-item">
                  <img class="d-block" src="{% static 'django_website/images/interscitylogo.png' %}" alt="InterSCity">
                </div>
                <div class="carousel-item">
                  <img class="d-block" src="{% static 'django_website/images/logo_fapesp.png' %}" alt="FAPESP">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselSponsors" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Previous" %}</span>
              </a>
              <a class="carousel-control-next" href="#carouselSponsors" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Next" %}</span>
              </a>
            </div>
        </div>
    </div>

    {% block pageheader %}{% endblock %}
    <div class="container">
    {% block content %}{% endblock %}
    </div>

    <div class="container">
    <footer>
    {% block footer %}
    <hr>
    <p>2018 - INACITY</p>
    <p>{% trans "We acknowledge Microsoft for a sponsorship through the Microsoft Azure Sponsorship and Google for their Streetview API." %}</p>
    <p>{% trans "The INACITY project is sponsored by the FAPESP, grant # 2018/10767-0, São Paulo Research Foundation (FAPESP)." %}</p>
    <p>{% trans "The opinions, hypotheses, conclusions or recommendations contained in this material are the sole responsibility of the author(s) and do not necessarily reflect FAPESP opinion." %}</p>
    <!--<p>As opiniões, hipóteses e conclusões ou recomendações expressas neste material são de responsabilidade do(s) autor(es) e não necessariamente refletem a visão da FAPESP.</p>-->

    {% endblock %}
        </footer>
        </div>
</body>
</html>