﻿{% extends "base.html" %}
{% block scripts %}
{% load staticfiles %}

{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<link rel="stylesheet" href="{% static 'django_website/css/home.css' %}" />
<link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">

<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
<!-- OpenLayersHandler module needs to be inserted after ol.js script-->
<script type="text/javascript" src="{% static 'django_website/scripts/OpenLayersHandler.js' %}"></script>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyD5HdIiGhBEap1V9hHPjhq87wB07Swg-Gc&libraries=visualization,geometry"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/Primitives.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/Observer.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/GeoImage.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/Helper.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/GeoImageManager.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/home/UIModel.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/home/UIView.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/home/UIController.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/home/home.js' %}"></script>
<script type="text/javascript" src="{% static 'django_website/scripts/home/StreetViewPanoramaData.js' %}"></script>
<script async defer type="text/javascript" src="{% static 'django_website/scripts/home/GSVService.js' %}"></script>
{% endblock %}

{% block title %}{{WebsiteName}} | {% trans "Home"%}{% endblock %}

{% block pageheader %}
<div class="container alert alert-warning text-center" role="alert">
    {% comment %} A plataforma foi desenvolvida e testada com o navegador Google Chrome Versão 58.0.3029.110 (64-bit), caso tenha problemas usando um navegador diferente experimente ele. {% endcomment %}
    {% trans "The platform was developed and tested with the browser Google Chrome version 58.0.3029.110 (64-bit). If you're having troubles while using some other browser try that." %}
    <!--A plataforma foi desenvolvida e testada com o navegador Google Chrome Versão 58.0.3029.110 (64-bit), caso tenha problemas usando um navegador diferente experimente ele.-->
</div>

{% endblock %}

{% block content %}

<div class="row">
    <div id="changeModeDiv" class="col-sm left-column btn-group btn-group-toggle" data-toggle="buttons" aria-labelledby="btnChangeMode">
        <!--changeModeClick@home.js-->
    </div>    
    <div id="sessionDiv" class="col-sm right-column">
        <div class="row">
            <div class="col-sm"></div>
            <div class="horizontal-padding">
                <div class="btn-group" role="group">
                    <a class="btn btn-warning" id="btnNewSession">{% trans "New session" %}</a>
                    <a class="btn btn-danger" id="btnSaveSession">{% trans "Save session" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm left-column region-div hidden">
        <div class="row">
            <div class="col-sm">
                <div class="btn-group" role="group">
                    <button id="btnMapMiner" type="button" class="btn btn-secondary dropdown-toggle single-option-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Map Miner" %}
                    </button>
                    <div id="mapMinerDiv" class="dropdown-menu" aria-labelledby="btnMapMiner">
                    </div>

                </div>
                <div class="btn-group" role="group">
                    <button id="btnMapFeature" type="button" class="btn btn-secondary dropdown-toggle single-option-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Feature" %}
                    </button>
                    <div id="mapFeatureDiv" class="dropdown-menu" aria-labelledby="btnMapFeature">
                    </div>

                </div>
                <button id="btnClearSelections" type="button" class="btn btn-danger hidden">{% trans "Clear selections" %}</button>
            </div>
            <div class="horizontal-padding">
                <button id="btnExecuteQuery" type="button" class="btn btn-warning hidden">{% trans "Execute Query" %}</button>
            </div>
        </div>

    </div>
    <div class="col-sm left-column map-div">
        <div class="btn-group" role="group">
            <button id="btnMapProvider" type="button" class="btn btn-secondary dropdown-toggle single-option-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Map provider" %}
            </button>
            <div id="mapProviderDiv" class="dropdown-menu" aria-labelledby="btnMapProvider">
            </div>

        </div>
        <div class="btn-group" role="group">
            <button id="btnShapeSelector" type="button" class="btn btn-secondary dropdown-toggle single-option-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% trans "Shape type" %}
            </button>
            <div id="shapeSelectorDiv" class="dropdown-menu" aria-labelledby="btnMapProvider">
            </div>
        </div>
        <a id="btnCancelDrawing" class="btn btn-danger" href="javascript:void(0);">{% trans "Cancel draw" %}</a>
    </div>
    <div class="col-sm right-column image-div">
        <div class="row">
            <div class="col-sm">
                <div class="btn-group" role="group">
                    <button id="btnImageProvider" type="button" class="btn btn-secondary dropdown-toggle single-option-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Image provider" %}
                    </button>
                    <div id="imageProviderDiv" class="dropdown-menu" aria-labelledby="btnImageProvider">
                    </div>
                </div>
            </div>
            <div class="horizontal-padding">
                <div class="btn-group" role="group">
                    <button id="btnImageFilter" type="button" class="btn btn-secondary dropdown-toggle single-option-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% trans "Image filter" %}
                    </button>
                    <div id="imageFilterDiv" class="dropdown-menu" aria-labelledby="btnImageFilter">
                    </div>
                    <button id="btnExecuteImageFilter" type="button" class="btn btn-warning"><i class="far fa-play-circle"></i></button>
                </div>
                <button type="button" id="btnCollectImages" class="btn btn-warning hidden" role="button" data-container="body" data-toggle="tooltip" data-trigger="hover" data-placement="right" data-title="Selected layers:">{% trans "Get Images" %}</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm left-column region-div hidden">
        <h2>{% trans "Created regions" %}:</h2>
        <div id="regionsList" class="list-group">
            <a href="#" class="list-group-item list-group-item-action active">{% trans "None" %}</a>
        </div>
    </div>
    <div class="col-sm left-column map-div">
        <div id="mapOverlay" class="hidden"><p class="mapOverlayText text-center align-middle">{% trans "Hold shift to zoom" %}</p></div>
        <div id="map" class="map"></div>

    </div>
    <div class="col-sm right-column image-div">
        <!--<img id="imgUrbanPicture" src="https://maps.googleapis.com/maps/api/streetview?size=640x640&location=-23.560271,-46.731295&heading=180&pitch=-0.76&key=AIzaSyD5HdIiGhBEap1V9hHPjhq87wB07Swg-Gc" />-->
        <img id="imgUrbanPicture" src="https://maps.googleapis.com/maps/api/streetview?size=640x640&location=-23.560271,-46.731295&heading=180&pitch=-0.76&key=AIzaSyD5HdIiGhBEap1V9hHPjhq87wB07Swg-Gc&signature=EPw7T48vG-6LDsEpTe7nsnSFrEo=" />
        <div id="imgSliderDiv" class="slidecontainer hidden">
            <input type="range" min="1" max="100" value="50" class="slider" id="imgSlider" >
        </div>
    </div>
</div>


{% endblock %}
